# Scrub the Data

In [43]:
# Imports

import pandas as pd

import numpy as np
import seaborn as sns
import os, time, pickle, re, json, requests

from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, accuracy_score

In [44]:
# Helper Functions

def list_counter(column):
    column = column.str.replace('[','').str.replace(']','').str.split(',')
    column = column.str.len()
    return column.astype(int)

def str_removal_and_convert(column,unit,new_type):
    new_column = column
    for i in unit:
        new_column = new_column.str.replace(i,"")
    new_column = new_column.fillna(0)
    return new_column.astype(new_type)

def convert_time(item):
    if item == "today":
        return 0
    if item == "yesterday":
        return 1
    if item == "never":
        return 5000
    item = item.replace('s','')
    list_items = item.split(" ")
    if list_items[0] == 'a':
        list_items[0] = 1
    how_many = int(list_items[0])
    if "week" in list_items:
        return how_many * 7
    if "day" in list_items:
        return how_many
    if "month" in list_items:
        return how_many*30
    
def get_walkscore_url(lat, long, address):
    """
    Construct url for Walkscore api call
    Input: address, city, and zip_code as strings; lat/lon coords as float
    Output: prepared url to request walkscore for address
    """
#     api_key = '466d1cb991e8a99345b049d505c6a4a7'
    api_key = 'b5fb25b95a4bb035ab365729a02f25a9'
    base_url = 'http://api.walkscore.com/score?format=json'
    mid_url = 'transit=1&bike=1'
    address = 'address=' + '%20'.join(address.split())
    lat = f'lat={lat}'
    long = f'lon={long}'
    api_key = f'wsapikey={api_key}'
    url = '&'.join([base_url, address, lat, long, mid_url, api_key])
    return url


def get_walkscores(row):
    """
    Makes api call to Walkscore and extracts bike, walk, and transit scores
    Input: dataframe row containing required fields
    Output: list containing bike, walk, and transit scores (or nan, if failure)
    """
    lat = row[0]
    long = row[1]
    address = row[2]
    url = get_walkscore_url(lat, long, address)
    
    try:
        r = requests.get(url)
        response = json.loads(r.text)

        bike_score = response['bike']['score']
        walk_score = response['walkscore']
        transit_score = response['transit']['score']
    except:
        return (np.nan, np.nan, np.nan)
    return [bike_score, walk_score, transit_score]

## Import and Clean

In [45]:
df = pd.read_csv('../data/raw/listings.csv',delimiter=',',low_memory=False)

Make a new dataframe with appropriate features to be used (in an iterative process, this step will be repeated to add more features if it helps improve from the EDA):

In [5]:
# df_2=df[['host_verifications','host_has_profile_pic','neighbourhood_group_cleansed','latitude','longitude',
#            'room_type','bathrooms','bedrooms','beds','bed_type','amenities','price',
#            'security_deposit','cleaning_fee','extra_people','minimum_nights',
#            'calendar_updated','availability_30','availability_90','cancellation_policy',
#            'instant_bookable','review_scores_rating']]

In [46]:
df_2 = df[['host_since','host_response_time','host_response_rate','host_total_listings_count'
           ,'host_verifications','host_has_profile_pic','host_identity_verified',
           'neighbourhood_group_cleansed','latitude','longitude',
           'room_type','bathrooms','bedrooms','beds','bed_type','amenities','price',
           'security_deposit','cleaning_fee','extra_people','minimum_nights',
           'calendar_updated','availability_30','availability_90','cancellation_policy',
           'reviews_per_month','number_of_reviews','number_of_reviews_ltm','instant_bookable','review_scores_rating']]

In [47]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8459 entries, 0 to 8458
Data columns (total 30 columns):
host_since                      8459 non-null object
host_response_time              6505 non-null object
host_response_rate              6505 non-null object
host_total_listings_count       8459 non-null int64
host_verifications              8459 non-null object
host_has_profile_pic            8459 non-null object
host_identity_verified          8459 non-null object
neighbourhood_group_cleansed    8459 non-null object
latitude                        8459 non-null float64
longitude                       8459 non-null float64
room_type                       8459 non-null object
bathrooms                       8456 non-null float64
bedrooms                        8459 non-null int64
beds                            8458 non-null float64
bed_type                        8459 non-null object
amenities                       8459 non-null object
price                           8459 non-null object
security_deposit                6647 non-null object
cleaning_fee                    7533 non-null object
extra_people                    8459 non-null object
minimum_nights                  8459 non-null int64
calendar_updated                8459 non-null object
availability_30                 8459 non-null int64
availability_90                 8459 non-null int64
cancellation_policy             8459 non-null object
reviews_per_month               7505 non-null float64
number_of_reviews               8459 non-null int64
number_of_reviews_ltm           8459 non-null int64
instant_bookable                8459 non-null object
review_scores_rating            7436 non-null float64
dtypes: float64(6), int64(7), object(17)
memory usage: 1.9+ MB

First we tackle columns with manageable way to deal with NaN's: Bathrooms, beds security deposits, and cleaning fee:

In [48]:
df_2[df_2.bathrooms.isna()][["room_type","beds","bedrooms"]]

       room_type  beds  bedrooms
11  Private room   1.0         1
14  Private room   1.0         1
58  Private room   1.0         1

In [49]:
df_2.bathrooms = df_2.bathrooms.fillna(0)

In [50]:
df_2[df_2.beds.isna()][['room_type','bedrooms','bathrooms']]

            room_type  bedrooms  bathrooms
7409  Entire home/apt         1        1.0

In [51]:
df_2.beds = df_2.beds.fillna(1)

In [52]:
df_2.security_deposit = str_removal_and_convert(df_2.security_deposit,["$",","],float)
df_2.cleaning_fee = str_removal_and_convert(df_2.cleaning_fee,['$',','],float)
df_2.price = str_removal_and_convert(df_2.price, ['$',','],float)
df_2.extra_people = str_removal_and_convert(df_2.extra_people, ['$',','],float)

Before removing NaN's, I want to import the Walkscore information using Walkscore.com's API:

## Additional Data Source: Walkscore API

Using Walkscore and bikescore is more useful than user-described location. We need lat, long and address to get walkscore API from walkscore.com. I used Google's Geolocation API to get the addresses.

In [53]:
df_geo = df_2[["latitude","longitude"]]

In [54]:
def retrieve_address(df_geo):
    gmaps = googlemaps.Client(key='AIzaSyAg7a4wxLj2jhH1dHkzxPolTXIzItbz5x0')
    
    add_list=[]
    
    for i in range(latlong.shape[0]):
        lat = latlong.iloc[i]["latitude"]
        long = latlong.iloc[i]["longitude"]
        address = gmaps.reverse_geocode((round(lat,6), round(long,6)))
        add_list.append(address[0]['formatted_address'])
    
    return add_list

In [55]:
add_list = retrieve_address(df_geo)

Pickle the data and call it back:

In [56]:
pickle.dump(add_list, open("../data/raw/address.pickle","wbxt"))

In [57]:
add_list = pickle.load(open("../data/interim/address.pickle","rb"))

Clean up the address list for Walkscore API call:

In [58]:
add_list = [add.replace(", USA","").replace(", United States","").replace(',','') for add in add_list]

In [59]:
df_2['address']=add_list

/Users/youngjeong/anaconda3/envs/metis/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [60]:
new_add_list=[]
for add in add_list:
    add1 = re.sub("United States","",add)
    match = re.search("[0-9]+[A-z]*( [0-9]*[A-z]+)+ Seattle WA [0-9]{5}", add1)
    if match is None:
        new_add_list.append(add)
    else:
        new_add_list.append(match.group(0))

In [61]:
df_geo["address"] = new_add_list

/Users/youngjeong/anaconda3/envs/metis/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [62]:
df_geo.head()

    latitude   longitude                                      address
0  47.610819 -122.290816                911 33rd Ave Seattle WA 98122
1  47.687801 -122.313427  8037 14th Avenue Northeast Seattle WA 98115
2  47.523980 -122.359891        8820 Delridge Way SW Seattle WA 98106
3  47.654109 -122.337605              1621 N 39th St Seattle WA 98103
4  47.550620 -122.320135           5700 Corson Ave S Seattle WA 98108

In [63]:
df_geo_matrix=df_geo.as_matrix()

/Users/youngjeong/anaconda3/envs/metis/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

Walkscore free API limits to 5000 calls a day, so the below method might have to be called more than once:

In [64]:
walkscores=[]
for row in range(df_geo_matrix.shape[0]):
    walkscores.append(get_walkscores(list(df_geo_matrix[row])))

In [65]:
pickle.dump(walkscore_,open("../data/interim/walkscore.pickle","wb"))

In [66]:
walkscore_ = pickle.load(open("../data/interim/walkscore.pickle","rb"))

In [67]:
bikescore = [x[0] for x in walkscore_]
walkscore = [x[1] for x in walkscore_]

In [68]:
df_2["bikescore"] = bikescore
df_2["walkscore"] = walkscore

/Users/youngjeong/anaconda3/envs/metis/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/youngjeong/anaconda3/envs/metis/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [69]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8459 entries, 0 to 8458
Data columns (total 33 columns):
host_since                      8459 non-null object
host_response_time              6505 non-null object
host_response_rate              6505 non-null object
host_total_listings_count       8459 non-null int64
host_verifications              8459 non-null object
host_has_profile_pic            8459 non-null object
host_identity_verified          8459 non-null object
neighbourhood_group_cleansed    8459 non-null object
latitude                        8459 non-null float64
longitude                       8459 non-null float64
room_type                       8459 non-null object
bathrooms                       8459 non-null float64
bedrooms                        8459 non-null int64
beds                            8459 non-null float64
bed_type                        8459 non-null object
amenities                       8459 non-null object
price                           8459 non-null float64
security_deposit                8459 non-null float64
cleaning_fee                    8459 non-null float64
extra_people                    8459 non-null float64
minimum_nights                  8459 non-null int64
calendar_updated                8459 non-null object
availability_30                 8459 non-null int64
availability_90                 8459 non-null int64
cancellation_policy             8459 non-null object
reviews_per_month               7505 non-null float64
number_of_reviews               8459 non-null int64
number_of_reviews_ltm           8459 non-null int64
instant_bookable                8459 non-null object
review_scores_rating            7436 non-null float64
address                         8459 non-null object
bikescore                       8450 non-null float64
walkscore                       8450 non-null float64
dtypes: float64(12), int64(7), object(14)
memory usage: 2.1+ MB

## Treating NaN Values and converting some of the other values to workable types

I want to use some of the helper functions to remove % signs or $ signs and convert them to floats. I also want to drop the rows with null values where I see fit.

In [71]:
df_2.host_response_rate = str_removal_and_convert(df_2.host_response_rate,['%'],int)/100

In [72]:
df_2.amenities = df_2.amenities.str.replace(r"{|}|\"","").str.split(",")

In [73]:
k = pd.DataFrame([x for x in df_2.amenities.apply(lambda item: dict(map(lambda x: (x,1),item))).values]).fillna(0)

In [74]:
k.shape

(8459, 186)

In [75]:
k=k.drop(columns={"","translation missing: en.hosting_amenity_49","translation missing: en.hosting_amenity_50"})

In [76]:
k = k.drop(columns=[col for col, val in k.sum().iteritems() if val < 1000 or val > 6000])

In [77]:
# k = k.drop(columns=["Bathtub","Cooking basics","Dishes and silverware",
#                     "Free parking on premises","Free street parking","Garden or backyard","Hot water",
#                     "Microwave","Oven","Stove"])

In [78]:
k.shape

(8459, 38)

In [79]:
df_2.drop(columns=['amenities'],inplace=True)

In [80]:
df_2 = df_2.join(k);

Drop the NaN values, and convert some of the other values to workable types:

In [81]:
df_drop = df_2.dropna()

In [82]:
df_drop.shape

(5899, 70)

In [83]:
df_drop["fivestars"] = df_drop.review_scores_rating >= 98
df_drop.fivestars=df_drop.fivestars.astype(int)

/Users/youngjeong/anaconda3/envs/metis/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [84]:
df_drop.calendar_updated = str_removal_and_convert(df_drop.calendar_updated, [" ago"], str)
df_drop.calendar_updated = df_drop.calendar_updated.apply(convert_time)

In [85]:
df_drop.host_verifications = list_counter(df_drop.host_verifications)

In [87]:
df_drop.host_since = pd.to_datetime(df_drop.host_since)
df_drop.host_since=(pd.Timestamp('2019-02-09')- df_drop.host_since).astype('timedelta64[D]')

In [89]:
df_drop["cancellation_flexible"] = df_drop.cancellation_policy == "flexible"
df_drop["cancellation_flexible"] = df_drop.cancellation_flexible.astype(int)

/Users/youngjeong/anaconda3/envs/metis/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/youngjeong/anaconda3/envs/metis/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

For Seattle, most are rentals of a room that shouldn't have too many rooms.

In [90]:
df_3 = df_drop[df_drop.price < 1000]
df_3 = df_3[df_drop.beds < 10]
df_3 = df_3[df_3.minimum_nights <= 7]

/Users/youngjeong/anaconda3/envs/metis/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [91]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5632 entries, 0 to 8363
Data columns (total 72 columns):
host_since                      5632 non-null float64
host_response_time              5632 non-null object
host_response_rate              5632 non-null float64
host_total_listings_count       5632 non-null int64
host_verifications              5632 non-null int64
host_has_profile_pic            5632 non-null object
host_identity_verified          5632 non-null object
neighbourhood_group_cleansed    5632 non-null object
latitude                        5632 non-null float64
longitude                       5632 non-null float64
room_type                       5632 non-null object
bathrooms                       5632 non-null float64
bedrooms                        5632 non-null int64
beds                            5632 non-null float64
bed_type                        5632 non-null object
price                           5632 non-null float64
security_deposit                5632 non-null float64
cleaning_fee                    5632 non-null float64
extra_people                    5632 non-null float64
minimum_nights                  5632 non-null int64
calendar_updated                5632 non-null int64
availability_30                 5632 non-null int64
availability_90                 5632 non-null int64
cancellation_policy             5632 non-null object
reviews_per_month               5632 non-null float64
number_of_reviews               5632 non-null int64
number_of_reviews_ltm           5632 non-null int64
instant_bookable                5632 non-null object
review_scores_rating            5632 non-null float64
address                         5632 non-null object
bikescore                       5632 non-null float64
walkscore                       5632 non-null float64
24-hour check-in                5632 non-null float64
Air conditioning                5632 non-null float64
BBQ grill                       5632 non-null float64
Bathtub                         5632 non-null float64
Bed linens                      5632 non-null float64
Cable TV                        5632 non-null float64
Coffee maker                    5632 non-null float64
Cooking basics                  5632 non-null float64
Dishes and silverware           5632 non-null float64
Dishwasher                      5632 non-null float64
Elevator                        5632 non-null float64
Extra pillows and blankets      5632 non-null float64
Family/kid friendly             5632 non-null float64
Fire extinguisher               5632 non-null float64
First aid kit                   5632 non-null float64
Free parking on premises        5632 non-null float64
Free street parking             5632 non-null float64
Garden or backyard              5632 non-null float64
Gym                             5632 non-null float64
Hot water                       5632 non-null float64
Indoor fireplace                5632 non-null float64
Internet                        5632 non-null float64
Keypad                          5632 non-null float64
Lock on bedroom door            5632 non-null float64
Lockbox                         5632 non-null float64
Long term stays allowed         5632 non-null float64
Luggage dropoff allowed         5632 non-null float64
Microwave                       5632 non-null float64
Oven                            5632 non-null float64
Pack â€™n Play/travel crib        5632 non-null float64
Patio or balcony                5632 non-null float64
Pets allowed                    5632 non-null float64
Private entrance                5632 non-null float64
Private living room             5632 non-null float64
Refrigerator                    5632 non-null float64
Safety card                     5632 non-null float64
Self check-in                   5632 non-null float64
Stove                           5632 non-null float64
fivestars                       5632 non-null int64
cancellation_flexible           5632 non-null int64
dtypes: float64(52), int64(11), object(9)
memory usage: 3.1+ MB

In [92]:
df_3 = df_3.drop(['review_scores_rating','address','latitude','longitude',
                 'bed_type','host_has_profile_pic','cancellation_policy'], axis=1)

Save processed data:

In [93]:
pickle.dump(df_3,open("../data/processed/data_clean_v4_all_everything.pickle","wb"))